@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1{font-family: 'Press Start 2P', cursive;
text-align: center;
}
h2{margin-left: 10px;
margin-left: 2em;
margin-left: 5%;}

h3{font-size: 20px;
  margin-left: 10px;
  margin-left: 2em;
  margin-left: 5%;}

p {
display:block;
text-align: justify all;
font-size: 20px;
margin-left: 10px;
margin-left: 2em;
margin-left: 5%;}

body{
 background-image: url("http://vignette1.wikia.nocookie.net/vsbattles/images/6/62/Supershenron.png/revision/latest?cb=2016070613415");
background-repeat: no-repeat;
   background-color:  #ff9900;
}
