@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Ceviche+One');

h1{font-family: 'Press Start 2P', cursive;
text-align: center;
}
h2{font-size: 40px;
margin-left: 10px;
margin-left: 2em;
margin-left: 5%;
font-family: 'Ceviche One', cursive;
}

h3{font-size: 25px;
  margin-left: 10px;
  margin-left: 2em;
  margin-left: 5%;
  font-family: 'Ceviche One', cursive;}

p {
display:block;
text-align: justify all;
font-size: 20px;
margin-left: 10px;
margin-left: 2em;
margin-left: 5%;
margin-right: 10px;
margin-right: 2em;
margin-right: 5%;}

body{
 background-image: url(http://www.kanzenshuu.com/guides/movie/battle_of_gods/bog_extended_007-large.png?x48035);
background-repeat: no-repeat;
   background-color:  #ff9900;
}
